body{
    overflow: hidden;
    background-color: #161616;
}
.canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.test{
    width:10px;
    height:10px;
    background-color: red;
}